body {
  background-image: url(221829143-nes-controller-wallpapers.png);
  background-size: cover;
}
header {
  color: antiquewhite;
  font-size: xx-large;
  align-content: center;

}

/* .health-color {
  color: green;
} */






/* *{
Outline: 1px solid red;
} */