body {
  background-image: url(http://markinternational.info/data/out/350/221829143-nes-controller-wallpapers.png);
  background-size: cover;
}
header {
  color: antiquewhite;
  font-size: xx-large;
  align-content: center;

}








/* *{
Outline: 1px solid red;
} */